/********** Base styles **********/
body {
 	background-color: #8B281F;
 	color: #eee8aa;
 	font-family: Helvetica, sans-serif;
}

h1 {
	text-align: center;
}

article {
	width: 100%;
	float: left;
}

img {
	max-width: 100%;
}

div.pic {
	text-align: center;
}

div.box {
	box-sizing: border-box;
	background-color: #ffa07a;
	position: relative;
	margin: 10px;
	border: 1px solid black;
	padding: 40px 20px 10px;
}

span.title-box {
	position: absolute;
	top: 0px;
	right: 0px;
	width: 150px;
	padding: 10px;
	border-bottom: 1px solid black;
	border-left: 1px solid black;
	text-align: center;
	font-weight: bold;
}

p {
	height: 70px;
	color: black;
}

#p1 {
 	background-color: #dc143c;
}

#p2 {
 	background-color: #ff6347;
}

#p3 {
	background-color: #cd5c5c;
}

/********** Large devices only **********/
@media (min-width: 992px) {
	article {
		width: 33.33%;
	}
}

/********** Medium devices only **********/
@media (min-width: 768px) and (max-width: 991px) {
	article.half {
		width: 50%;
	}
}
